{% include 'top.html' %}

<div class="flex flex-row min-h-screen">
    <nav id="sidebar" class="bg-neutral-800 text-blue-100 w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:translate-x-0 transition-transform duration-200 ease-in-out" style="top:48px;">
        <ul>
            <li class="w-full text-center   border-black border-b-2" ><a id="home-link" href="#" class="text-2xl w-full  hover:text-white text-center">Overview</a></li>
            <li class="w-full text-center  "><a id="debug-link" href="#" class=" text-2xl w-full  hover:text-white text-center">Wojska</a></li>
            <li class="w-full text-center  "><a id="przybywajace" href="#" class=" text-2xl w-full  hover:text-white text-center">Przybywające ataki</a></li>
            <li class="w-full text-center  "><a id="posortowanePrzybywajace" href="#" class=" text-2xl w-full  hover:text-white text-center">Posortowane ataki</a></li>
        </ul>
    </nav>

    <div id="content" class="w-full ml-64" style="margin-top:60px;">
        <!-- Tu będzie ładowana dynamiczna zawartość -->
    </div>
</div>

<script>
$(document).ready(function(){

    function loadHomeContent() {
        $('#content').html(`
            <!-- zawartość strony głównej -->
            <h1 class="text-3xl font-semibold">Strona główna</h1>
            <p class="mt-2">Witamy na stronie głównej!</p>
        `);
    }

    function loadDebugContent() {
        let tableContent = '';

        $('#content').html(`
            <h1 class="text-2xl font-semibold mb-4">Wojsko</h1>
                                                    <form class="home mt-10 text-center mb-10" action="/secretUpdate" method="GET">
        <input id="start-button" type="submit" value="UPDATE DATA" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
            <div class="overflow-x-auto">
                <div class="min-w-screen bg-gray-100 flex items-center justify-center font-sans overflow-hidden">

                    <div class="w-full lg:w-5/6">



                        <div class="bg-white shadow-md rounded">
                            <table class="min-w-max w-full table-auto">
                                <thead>
                                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                        <th class="py-3 px-6 text-left">Coords</th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/spear.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/sword.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/axe.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/archer.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/spy.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/light.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/marcher.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/heavy.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/ram.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/catapult.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/snob.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                    </tr>
                                </thead>

<tbody class="text-gray-600 text-sm font-light">
    {% for result in results %}
    <tr class="border-b border-gray-200 hover:bg-gray-100">
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[1] }}</td>
      {% for unit_count in result[2] %}
      <td class="py-3 px-6 text-gray-600 text-left whitespace-nowrap">{{ unit_count}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
</tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        `);
    }

        function loadPrzybywajaceContent() {
        let tableContent = '';

        $('#content').html(`
            <h1 class="text-2xl font-semibold mb-4">Przybywajace ataki</h1>
                                                    <form class="home mt-10 text-center mb-10" action="/przybywajaceUpdate" method="GET">
        <input id="start-button" type="submit" value="UPDATE DATA" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
            <div class="overflow-x-auto">
                <div class="min-w-screen bg-gray-100 flex items-center justify-center font-sans overflow-hidden">

                    <div class="w-full lg:w-5/6">



                        <div class="bg-white shadow-md rounded">
                            <table class="min-w-max w-full table-auto">
                                <thead>
                                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                        <th class="py-3 px-6 text-left">ID</th>
                                        <th class="py-3 px-6 text-left">Obrońca</th>
                                        <th class="py-3 px-6 text-left">Atakujący</th>
                                        <th class="py-3 px-6 text-left">Data wejścia</th>


                                    </tr>
                                </thead>

<tbody class="text-gray-600 text-sm font-light">
    {% for result in results2 %}
    <tr class="border-b border-gray-200 hover:bg-gray-100">
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[0] }}</td>
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[1] }}</td>
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[2] }}</td>
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[3] }}</td>

    </tr>
    {% endfor %}
</tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        `);
    }


        function posortowanePrzybywajace() {

        let tableContent = '';

$('#content').html(`
    <h1 class="text-2xl font-semibold mb-4">Przybywajace ataki</h1>
    <form class="home mt-10 text-center mb-10" action="/przybywajaceUpdate" method="GET">
        <input id="start-button" type="submit" value="UPDATE DATA" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
    <div class="overflow-x-auto">
        <div class="min-w-screen bg-gray-100 flex items-center justify-center font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded">
                    <table class="min-w-max w-full table-auto">
                       <table class="min-w-max w-full table-auto">
    <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Obrońca</th>
            <th class="py-3 px-6 text-left">Atakujący</th>
            <th class="py-3 px-6 text-left">Data wejścia</th>
        </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
        {% for obrońca, group in results2 %}
        <tr class="border-b border-gray-200 hover:bg-gray-100 defender" onclick="toggleRows(this)">
            <td class="py-3 px-6 text-left whitespace-nowrap" colspan="4">{{ obrońca }}</td>
        </tr>
        {% for row in group.itertuples() %}
        <tr class="border-b border-gray-200 hover:bg-gray-100 attacker hidden">
            <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.ID }}</td>
            <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.Obrońca }}</td>
            <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.Atakujący }}</td>
            <td class="py-3 px-6 text-left whitespace-nowrap">{{ row['Data wejścia'] }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
                    </table>

                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>

                    <!-- Dodać style CSS dla menu rozwijanego -->
                    <style>
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        padding: 12px 16px;
                        z-index: 1;
                    }
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
                    </style>

                </div>
            </div>
        </div>
    </div>
`);

// Funkcja do przełączania widoczności wierszy
function toggleRows() {
  var nextRow = this.nextElementSibling;
  while (nextRow && !nextRow.classList.contains("defender")) {
    nextRow.classList.toggle("hidden");
    nextRow = nextRow.nextElementSibling;
  }
}


// Pobranie wszystkich elementów z klasą 'defender' i dodanie procedury obsługi zdarzeń onclick
var defenders = document.getElementsByClassName('defender');
for (var i = 0; i < defenders.length; i++) {
    defenders[i].addEventListener('click', toggleRows);
}

    }






    // Podpinamy zdarzenia do linków w menu
    $('#home-link').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        loadHomeContent();
    });

    $('#debug-link').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        loadDebugContent();
    });

    $('#przybywajace').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        loadPrzybywajaceContent();
    });
    $('#posortowanePrzybywajace').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        posortowanePrzybywajace();
    });
    // Wczytujemy zawartość strony głównej od razu po załadowaniu strony
    loadHomeContent();
});
</script>



{% include 'bottom.html' %}
